SetEnv HTTP_SERVER_ROOT "C:/xampp/htdocs/pay_change_webapp"


DirectoryIndex /pay_change_webapp/index.php

# enable apache rewrite engine
RewriteEngine on

# set your rewrite base
# Edit this in your init method too if you script lives in a subfolder
RewriteBase /pay_change_webapp/

# Deliver the folder or file directly if it exists on the server
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Push every request to index.php
RewriteRule ^(.*)$ /pay_change_webapp/index.php [QSA]
