# Environment variables
SetEnv HTTP_APP_ENV         "dev"
SetEnv HTTP_SERVER_ROOT     "C:/xampp/htdocs/stephens-php-boilerplate"

DirectoryIndex /stephens-php-boilerplate/index.php

# enable apache rewrite engine
RewriteEngine on

# set your rewrite base
# Edit this in your init method too if you script lives in a subfolder
RewriteBase /stephens-php-boilerplate/

# Deliver the folder or file directly if it exists on the server
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Push every request to index.php
RewriteRule ^(.*)$ /stephens-php-boilerplate/index.php [QSA]
