{% extends 'base.html.twig' %}

{% block title %}Index | Boilerplate{% endblock %}

{% block stylesheets %}
   {{ parent() }}
   <link rel="stylesheet/less" type="text/css" href="assets/less/pages/index.style.less">
{% endblock %}

{% block body %}
  <div id="app"></div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="assets/js/pages/index.script.js" charset="utf-8"></script>
{% endblock %}
